Package: lsb-release-udeb
Source: base-files
Version: 10.1ubuntu2.8serene7.1
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 4
Section: debian-installer
Priority: extra
Description: LSB release information
Original-Maintainer: Santiago Vila <sanvila@debian.org>
