Package: base-files-dbgsym
Package-Type: ddeb
Source: base-files
Version: 10.1ubuntu2.8serene7.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 19
Depends: base-files (= 10.1ubuntu2.8serene7.1)
Section: debug
Priority: optional
Description: debug symbols for base-files
Build-Ids: 3695cb3c7f331d03f0e8797a516c45158d21dc5a
Original-Maintainer: Santiago Vila <sanvila@debian.org>
